<table class="table-auto border border-collapse mx-auto mt-14">
    <thead>
      <tr class="bg-orange-100">
        <th class="font-normal border text-orange-700 px-4 py-2">Id</th>
        <th class="font-normal border text-orange-700 px-4 py-2">Task</th>
        <th class="font-normal border text-orange-700 px-4 py-2">Priority</th>
        <th class="font-normal border text-orange-700 px-4 py-2">Status</th>
      </tr>
    </thead>
    <tbody>
        <!-- <tr></tr> -->
      <!-- <tr class="border-2 border-black text-center " > -->
        <tr class="even:bg-orange-100 odd:bg-white" *ngFor="let task of tasks">
            <td class="border px-4 py-2">{{ task.id }}</td>
            <td class="border px-4 py-2">{{ task.taskName }}</td>
            <td class="border px-4 py-2">{{ task.priority }}</td>
            <td class="border px-4 py-2">{{ task.status }}</td>
        </tr>
      <!-- </tr> -->
    </tbody>
  </table>
  
        
