<form class="border px-4 py-2" id="add-task" (ngSubmit)="onSubmit(taskName.value, priority.value)">
  <label class="block w-full mt-4">
    <span class="block text-md font-normal mb-2" for="task">Task</span>
    <input class="border w-full px-4 py-2" type="text" id="task" name="task" #taskName placeholder="Enter task"/>
  </label>
  <label class="block mt-4">
      <span class="block text-md font-normal  mb-2" for="priority">Priority</span>
      <select class="w-full border block px-4 py-2 font-normal" name="priority" id="priority" #priority>
          <option value="High">High</option>
          <option value="Low">Low</option>
        </select>
      <!-- <input class="border px-4 py-2" type="text" id="priority" name="priority" placeholder="Enter priority"/> -->
    </label>      
  <button type="text" class="w-full rounded-full bg-orange-300 px-4 py-2 mt-4">Add Todo</button>
</form>

<!-- <form id="add-task">
  <label for="task">Task</label>
  <input type="text" id="task" name="task" placeholder="Enter a task"/>
  
</form>  -->


